/* style.css for Odin Recipes */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: orange;
    background-color: black;
    border: 8px solid yellow;
}

h2 {
    color: yellow;
    background-color: darkgray;
}

h3 {
    background-color: blue;
    color: pink;
}

.muffuletta {
    width: 310px;
    height: auto;
    display: block;
    margin: 1px auto;
}

h4 {
    background-color: greenyellow;
}

 

h1,
h2,
h3,
h4 {
    padding: 1em;
    margin: 20px 5px;
    display: block;

}

h4 {
    padding: 1em 2em;
    margin: 20px 16px
}

p,
ul {
    margin: 20px 16px;
    padding: 1.5em;
}
